body{
    margin: 0 30px;
    padding: 0;
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
}



.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    border-bottom: 2px solid rgba(78, 20, 140, 10%);
}

    .nav .list-of-options {
        display: flex;
        margin: auto;
        align-items: center;
    }

        .nav .list-of-options .list-item {
            font-weight: bold;
            align-items: center;
            text-align: center;
            padding: 0px 12px;
            margin: 0px 12px;
            color: #4e148c;
            cursor: pointer;
        }

.logoimg {
    width: 112px;
    cursor: pointer;
}

.profileimg {
    width: 72px;
    cursor: pointer;
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    flex: 0.1;
    border-bottom: 1px solid rgb(88, 99, 248,0.2);
    padding: 15px;
}

.navbar > img{
    height: 50px;
}
.logo{
    flex:0.2;
}
.nav-menu{
    flex:0.7;
}
.op-btns{
    flex:0.2;
}
.nav-options{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.nav-options > *{
    margin-left: 35px;
    color: #4E148C;
    cursor: pointer;
}

.profile{
    display: flex;
    border-radius: 30px;
    border: 1px solid;
    width: 80px;
    height: 40px;
    padding: 3px;
    margin-right: 50px;
}
.profile > img{
    border: 1px solid;
    border-radius: 100%;
}

.heading{
    flex: 0.2;
    margin-top: 12px;
}

.heading > .greeting{
    font-size: 35px;
    font-weight: bold;
}
.heading > .desc{
    font-size: 20px;
    color: #6C757D;
    margin-top: -10px;
}

.main{
    display: flex;
    flex: 0.7;
}

.left{
    flex: 0.4;
    background-color: rgb(108, 117, 125, 10%);
    padding: 20px;
    border-radius: 10px;
    margin-right: 10px;
}

.right{
    flex: 0.6;
    border: 1px solid;
    background-color: rgb(108, 117, 125, 10%);
    padding: 20px;
    border-radius: 10px;
    border: none;
}

.main-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-heading-txt{
    font-size: 25px;
    font-weight: bold;
}

.main-btn{
    padding: 7px 15px;
    background-color: #4E148C;
    color: #fff;
    border: none;
    border-radius: 15px;
}

.users-panel{
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-height: 35rem;
    overflow-y: scroll;
}

.user-card{
    background-color: #fff;
    padding: 20px;
    border-radius: 14px;
    margin: 10px;
}

.user-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.user-heading > img{
    border: 1px solid;
    border-radius: 100%;
    width: 50px;
}

.user-name{
    font-size: 15px;
    font-weight: bold;
}

.user-score{
    margin-top: -10px;
    font-size: 10px;
}

.user-btns{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.user-btns > *{
    padding: 14px 24px;
    color: #fff;
    border: none;
    width: 100%;
}

.btn-details{
    background-color: #5863F8;
    margin-right: 10px;
}

.btn-history{
    background-color: #000;
}

.add-cat-note{
    font-size: 12px;
    color: #6C757D;
}

.btn-background{
    max-width: fit-content;
    background-color: rgb(88, 99, 248, 16%);
    padding: 12px 24px;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
    color:#5863F8;
    border: 1px solid #5863F8;
    margin: 20px;
}

.categories{
    display: flex;
    flex-wrap: wrap;
}

.add-category{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.add-category-input{
    width: 75%;
    padding: 10px;
}

.add-category > button{
    width: 20%;
    padding: 20px 28px;
    background-color: #5863F8;
    color: #fff;
    border: none;
    font-weight: bold;
}