* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }
  
  body {
    background: white;
    filter: blur(0.4);
    display: flex;
    justify-items: center;
    place-items: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .main_div {
    width: 600px;
    height: auto;
    border-radius: 12px;
    background: white;
    padding: 16px;
    outline: 1px solid lightgray;
  }
  
  .heading_with_icon{
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  .content{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 12px 4px 12px 4px;
      margin-top: 12px;
  }
  
  .question_input > textarea{
      width: 100%;
      outline: 1px solid gray;
      border: none;
      background: rgba(211, 211, 211, 0.4);
      padding: 8px 12px 8px 12px;
      text-wrap: wrap;
      border-radius: 4px;
      text-align: start;
      resize: none;
  }
  
  .options_input{
      margin-top: 24px;
      display: flex;
      flex-direction: column;
  }
  
  .options_input > input{
      padding: 8px 24px 8px 24px;
      margin: 4px 0px;
      border: none;
      outline: 1px solid rgba(88, 99, 248, 20%);
      background-color: rgba(88, 99, 248, 5%);
  }
  
  .add_question_button > button{
      background-color: #5863F8;
      color: white;
      font-weight: 700;
      width: 100%;
      display: flex;
      gap: 8;
      border: none;
      border-radius: 4px;
      outline: none;
      text-align: center;
      justify-content: center;
      padding: 12px 0px 12px 0px;
      margin-top: 12px;
  }